---
import { getTranslations } from "@/i18n";

import ProjectTabs from "./ProjectTabs.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props as Props;
const t = getTranslations(lang);
const { projects } = t;
---

<section class="w-full px-12 mt-20">
  <div class="flex flex-col space-y-1">
    <span class="text-primary text-lg">✦ {projects.title}</span>
    <span class="text-4xl font-semibold">{projects.subtitle}</span>
  </div>
  <div class="mt-8">
    <ProjectTabs lang={lang} />
  </div>
</section>
