---
import { getTranslations } from "@/i18n";

import Recognitions from "./Recognitions.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props as Props;
const t = getTranslations(lang);
const {
  about: { awards },
} = t;
---

<section class="grid grid-cols-5 px-12 w-full mt-10">
  <div class="flex flex-col col-span-2">
    <span class="text-primary text-lg">✦ {awards.title}</span>
    <span class="text-4xl font-semibold">{awards.subtitle}</span>
  </div>
  <div class="col-span-3">
    <Recognitions recognitions={awards.awards} />
  </div>
</section>
