---
import { getTranslations } from "@/i18n";
import { Button } from "./ui/button";

interface Props {
  lang: string;
}

const { lang } = Astro.props as Props;
const t = getTranslations(lang);
const { callToAction } = t;
---

<section
  class="flex flex-col justify-center items-center mt-12 px-12 w-full py-12 space-y-4 rounded-4xl bg-secondary/40"
>
  <span class="text-6xl font-semibold">{callToAction.title}</span>
  <span>{callToAction.description}</span>
  <Button className="p-7 mt-10  hover:cursor-pointer rounded-4xl">
    <a href={`/${lang}/contact`}>
      <span class="text-2xl">{callToAction.button}</span>
    </a></Button
  >
</section>
